{% extends "base.html" %}

{% block title %}Reporte de Médicos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Reporte de Médicos</h2>
    <a href="{{ url_for('descargar_reporte_medicos') }}" class="btn btn-primary mb-3">Descargar CSV</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
                <th>Especialidad</th>
                <th>Celular</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
            <tr>
                <td>{{ medico.identificacion }}</td>
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.especialidad }}</td>
                <td>{{ medico.celular }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}